<ion-header>
  <ion-toolbar>
    <ion-title class="semiBold size_16 center">{{'Menu.change_password_label' | translate:params }}</ion-title>
    <ion-icon name="close-circle-outline" class="setting_icon" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form name="form" (ngSubmit)="f.form.valid && resetForm(f)" #f="ngForm" method="post">
    <ion-item >
      <ion-label position="floating">{{'Common.code_label' | translate:param}}</ion-label>
      <ion-input [(ngModel)]="code"  name="code" #codes="ngModel" [ngClass]="{ 'is-invalid': f.submitted && codes.invalid }"  required ></ion-input>
    </ion-item>
    <div *ngIf="f.submitted && codes.invalid" class="invalid-feedback">
      <div *ngIf="codes.errors.required">{{'VALIDATION.code_required' | translate:params}}</div>
    </div>
    <ion-item >
      <ion-label position="floating">{{'Common.new_password_lable' | translate:param}}</ion-label>
      <ion-input type="password" [(ngModel)]="password"  name="password" #passwords="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passwords.invalid }"  required ></ion-input>
    </ion-item>
    <div *ngIf="f.submitted && passwords.invalid" class="invalid-feedback">
      <div *ngIf="passwords.errors.required">{{'VALIDATION.new_password_required' | translate:params}}</div>
    </div>
    <ion-item >
      <ion-label position="floating">{{'Common.confirm_password_lable' | translate:param}}</ion-label>
      <ion-input type="password" [(ngModel)]="c_pass"  name="c_pass" #c_passs="ngModel" [ngClass]="{ 'is-invalid': f.submitted && c_passs.invalid }"  required ></ion-input>
    </ion-item>
    <div *ngIf="f.submitted && c_passs.invalid" class="invalid-feedback">
      <div *ngIf="c_passs.errors.required">{{'VALIDATION.c_password_required' | translate:params}}</div>
    </div>
    <div class="">
      <ion-row>
        <ion-col size="6">
          <ion-button class="submit_btn_css mt30" type="submit"  >{{'Common.submit_label' | translate:param}}</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="submit_btn_css mt30" type="button" (click)="closeModal()" >{{'Common.cancel_label' | translate:param}}</ion-button>
        </ion-col>
      </ion-row>    
    
  </div>
  </form>
</ion-content>
