<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [class.ar_toggle]="language=='ar'">
      <ion-back-button autoHide="false"></ion-back-button>  
    </ion-buttons>
    <ion-title class="semiBold size_16" [class.ar_toggle_title]="language=='ar'">{{'USERTYPE.service_provider' | translate:param}} {{'Menu.item_label' | translate:param}}</ion-title>
    <ion-icon *ngIf="user_type=='4' || user_type=='5'" name="settings-outline" class="setting_icon" (click)="settingsPopover()"></ion-icon>
    <ion-icon routerLink="/notification-list" name="notifications-outline" class="setting_icon notification_bell"></ion-icon><ion-badge class="badge_class">{{notification_count}}</ion-badge>
    <ion-buttons slot="end" class="lang_butn">      
      <div class="language"  *ngIf="language=='en'" (click) = "changedLanguage('ar')">عربى</div>
      <div class="language"  *ngIf="language=='ar'" (click) = "changedLanguage('en')">English</div>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu-header></app-menu-header>
  <div class="ion-padding margin-top-90">
    <ion-list>
      <ion-item *ngFor="let item of service_provider_item">
        <ion-thumbnail slot="start" class="event_thumb">
          <img *ngIf="item.image==''" src="assets/images/new_logo.png">
          <img *ngIf="item.image!=''" src="{{appUrl}}{{item.image}}">
        </ion-thumbnail>
        <ion-label>
          <h2 *ngIf="language == 'en'">{{item.type}}</h2>
          <h2 *ngIf="language == 'ar'">{{item.type_ar}}</h2>
          <p *ngIf="language == 'en'">{{item.item_en}}</p>
          <p *ngIf="language == 'ar'">{{item.item_ar}}</p>
          <p *ngIf="language == 'en' && item.service_id!='0'">{{item.service_en}}</p>
          <p *ngIf="language == 'ar' && item.service_id!='0'">{{item.service_ar}}</p>
          <p *ngIf="item.service_id=='0'">{{item.name}}</p>
          <p>{{item.price}}</p>
          <b *ngIf="item.status=='0'">{{'Common.inactive_label' | translate:param}}</b>
          <b *ngIf="item.status=='1'">{{'Common.active_label' | translate:param}}</b>
        </ion-label>
      </ion-item>
    </ion-list>
  
  </div>
</ion-content>
