<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [class.ar_toggle]="language=='ar'">
      <ion-back-button autoHide="false"></ion-back-button>  
    </ion-buttons>
    <ion-title class="semiBold size_16" [class.ar_toggle_title]="language=='ar'">{{'Notice.notice_update_label' | translate:param}}</ion-title>
    <ion-icon *ngIf="user_type=='4' || user_type=='5'" name="settings-outline" class="setting_icon" (click)="settingsPopover()"></ion-icon>
    <ion-icon routerLink="/notification-list" name="notifications-outline" class="setting_icon notification_bell"></ion-icon><ion-badge class="badge_class">{{notification_count}}</ion-badge>
    <ion-buttons slot="end" class="lang_butn">      
      <div class="language"  *ngIf="language=='en'" (click) = "changedLanguage('ar')">عربى</div>
      <div class="language"  *ngIf="language=='ar'" (click) = "changedLanguage('en')">English</div>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu-header></app-menu-header>
  <div class="ion-padding margin-top-90">
    <form name="form" (ngSubmit)="f.form.valid && noticeForm(f)" #f="ngForm" method="post">
      <div class="">
      <ion-item>
        <ion-label position="floating">{{'Common.subject_label' | translate:param}}</ion-label>
        <ion-input type="text" [(ngModel)]="notice.subject"  name="subject" #sub="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sub.invalid }" required></ion-input>
      </ion-item>
      <div *ngIf="f.submitted && sub.invalid" class="invalid-feedback">
        <div *ngIf="sub.errors.required">{{'VALIDATION.subject_required' | translate:params}}</div>
      </div>
      <ion-item>
        <ion-label position="floating">{{'Common.description_label' | translate:param}}</ion-label>
        <ion-textarea type="text" [(ngModel)]="notice.description"  name="desc" #des="ngModel" [ngClass]="{ 'is-invalid': f.submitted && des.invalid }" required></ion-textarea>
      </ion-item>
      <div *ngIf="f.submitted && des.invalid" class="invalid-feedback">
        <div *ngIf="des.errors.required">{{'VALIDATION.description_required' | translate:params}}</div>
      </div>
      <div>
        <ion-row>
          <ion-col (ionChange)="is_imp_change($event)"     [class.notice_add_imp_div]="language=='en'" [class.notice_add_imp_div_ar]="language=='ar'"> 
            {{'Notice.is_important_label' | translate:param}}
          </ion-col>
          <ion-col (ionChange)="is_imp_change($event)"   [class.notice_add_toggle_div]="language=='en'" [class.notice_add_toggle_div_ar]="language=='ar'">
            <ion-toggle checked="{{is_imp}}"></ion-toggle>
          </ion-col>
        </ion-row>
      
        <!-- <div >{{Notice.is_important_label}}</div>
        <div ><ion-toggle></ion-toggle></div> -->
      </div>
      <ion-button class="submit_btn_css mt30" type="submit"  >{{'Common.update_label' | translate:param}}</ion-button>
    </div>
    </form>
  </div>
</ion-content>
