<ion-content class="root_bg">
<div class="root_img">
  <ion-img src="assets/images/bg1.jpg"></ion-img>
</div>
<div class="ion-padding root">
  <div class="root_content vertical_center">
    <ion-img src="assets/images/new_logo.png"></ion-img>
    <div class="root_btns">
      <div class="app_btn">
        <ion-button class="app_btn" routerLink="/login">Login</ion-button>
      </div>
      <div class="app_btn">
        <ion-button class="app_btn" routerLink="/signup">Signup</ion-button>
      </div>
    </div>
  </div>
</div> 
</ion-content>

<ion-footer class="no_padding footer_absolute">
  <div class="footer_inner root_footer center">
    <div class="size_18 light">Need Help?</div><br>
    We would be happy to help you!!<br>
    <div class="blue medium" style="margin-top: 8px; margin-bottom: 3px;">+966544890608</div>
    <div class="blue medium">contact@innovativeideasbox.com</div>
     
  </div>
</ion-footer>
