<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [class.ar_toggle]="language=='ar'">
      <ion-back-button autoHide="false"></ion-back-button>  
    </ion-buttons>
    <ion-title class="semiBold size_16" [class.ar_toggle_title]="language=='ar'">{{'Maintenance.maintenance_detail_head' | translate:param}}</ion-title>
    <ion-icon *ngIf="user_type=='4' || user_type=='5'" name="settings-outline" class="setting_icon" (click)="settingsPopover()"></ion-icon>
    <ion-icon routerLink="/notification-list" name="notifications-outline" class="setting_icon notification_bell"></ion-icon><ion-badge class="badge_class">{{notification_count}}</ion-badge>
    <ion-buttons slot="end" class="lang_butn">      
      <div class="language"  *ngIf="language=='en'" (click) = "changedLanguage('ar')">عربى</div>
      <div class="language"  *ngIf="language=='ar'" (click) = "changedLanguage('en')">English</div>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu-header></app-menu-header>
  <div class="ion-padding margin-top-90">
    <img *ngIf="fileExtn==''" src="assets/images/no-image.png" class="thumbimg">
    <img *ngIf="fileExtn!='' && (fileExtn=='jpg' || fileExtn=='png' || fileExtn=='jpeg' )" src="{{appUrl}}{{maintenance.image}}" class="thumbimg">
    <h4 class="request_detail_info_head center theme_color" *ngIf="language =='en'">{{maintenance.service}}</h4>
    <h4 class="request_detail_info_head center theme_color" *ngIf="language =='ar'">{{maintenance.service_ar}}</h4>
    
    <div class="request_detail_info">
      <ion-row>
        <ion-col size="5">
          {{'Common.requested_by_label' | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{maintenance.user_name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          {{'Common.price_label' | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{maintenance.price}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          {{'Common.date_label'  | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{maintenance.on_date}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="maintenance.time_from!='' && (maintenance.time_to=='' || maintenance.time_to==null )">
        <ion-col size="5" >
          {{'Common.morning_time_label'  | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{maintenance.time_from}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="maintenance.time_to!='' && ( maintenance.time_from=='' || maintenance.time_from==null)">
        <ion-col size="5" >
          {{'Common.evening_time_label'  | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{maintenance.time_to}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          {{'Common.status_label'  | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          <ion-button class="pending_btn" (click)="changeRequestStatus()" *ngIf="maintenance.status == 0 && (user_type==4 || user_type==6 && community_staff_type==6)">{{'Common.pending_label'  | translate:param}}</ion-button>
          <b class="status_pending_label" *ngIf="maintenance.status == 0 && (user_type==5 || user_type==5 && community_staff_type!=6)">{{'Common.pending_label'  | translate:param}}</b>

          <b class="status_accept_label" *ngIf="maintenance.status == 1">{{'Common.accepted_label'  | translate:param}}</b>
          <b class="status_reject_label" *ngIf="maintenance.status == 2">{{'Common.rejected_label'  | translate:param}}</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          {{'Common.staff_name_label'  | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{maintenance.staff_name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          {{'Common.staff_status_label'  | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          <b class="status_pending_label" *ngIf="maintenance.staff_status == 0 && (user_type!=6)" >{{'Common.pending_label'  | translate:param}}</b>
          <b class="status_pending_label" *ngIf="maintenance.staff_status == 0 && (user_type==6 && community_staff_type==6)" >{{'Common.pending_label'  | translate:param}}</b>
          <ion-button class="pending_btn" (click)="changeStaffStatus()" *ngIf="maintenance.staff_status == 0 && (user_type == 6 && community_staff_type!=6 )">{{'Common.pending_label'  | translate:param}}</ion-button>
          <b class="status_accept_label" *ngIf="maintenance.staff_status == 1">{{'Common.accepted_label'  | translate:param}}</b>
          <b class="status_reject_label" *ngIf="maintenance.staff_status == 2">{{'Common.rejected_label'  | translate:param}}</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          {{'Common.task_status_label'  | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          <b class="status_reject_label"  *ngIf="maintenance.task_status == 0 && maintenance.job_end==0 && maintenance.job_start==0 && (user_type==4 || user_type==6 && community_staff_type==6)">{{'Common.not_done_label'  | translate:param}}</b>
          <b class="status_reject_label"  *ngIf="maintenance.task_status == 0 && (user_type==5 || user_type==6 && community_staff_type!=6 )">{{'Common.not_done_label'  | translate:param}}</b>
          <ion-button class="reject_btn" (click)="changeJobCompleteStatus()"  *ngIf="maintenance.task_status == 0 && maintenance.job_end==1 && (user_type==4 || user_type==6 && community_staff_type==6)">{{'Common.not_done_label'  | translate:param}}</ion-button>
          <b class="status_accept_label"  *ngIf="maintenance.task_status == 1">{{'Common.done_label'  | translate:param}}</b>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="fileExtn!='' && (fileExtn!='jpg' && fileExtn!='png' )">
        <ion-col size="5">
          {{'Menu.document_label'  | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          <b (click)="download(maintenance.image)">{{'Common.download_label'  | translate:param}}</b>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(maintenance.staff_id!='0') &&  (user_type==4 || user_type==6 && community_staff_type==6)">
        <ion-col size="5">
         SOS
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="3">
          <ion-img (click)="addSOSToStaff(maintenance.staff_id)" src="assets/images/sos.png" style="height: 30px;"></ion-img>
        </ion-col>
      </ion-row>
      </div>  
  </div>
</ion-content>
