<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [class.ar_toggle]="language=='ar'">
      <ion-back-button autoHide="false"></ion-back-button>  
    </ion-buttons>
    <ion-title class="semiBold size_16" [class.ar_toggle_title]="language=='ar'">{{'Complaint.complaint_detail_label' | translate:param}}</ion-title>
    <ion-icon *ngIf="user_type=='4' || user_type=='5'" name="settings-outline" class="setting_icon" (click)="settingsPopover()"></ion-icon>
    <ion-icon routerLink="/notification-list" name="notifications-outline" class="setting_icon notification_bell"></ion-icon><ion-badge class="badge_class">{{notification_count}}</ion-badge>
    <ion-buttons slot="end" class="lang_butn">      
      <div class="language"  *ngIf="language=='en'" (click) = "changedLanguage('ar')">عربى</div>
      <div class="language"  *ngIf="language=='ar'" (click) = "changedLanguage('en')">English</div>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu-header></app-menu-header>
  <div class="ion-padding margin-top-90">
      <img *ngIf="complaint.image==''" src="assets/images/new_logo.png" class="thumbimg">
      <img *ngIf="complaint.image!=''" src="{{appUrl}}{{complaint.image}}" class="thumbimg">
    <h4 class="request_detail_info_head center theme_color">{{complaint.topic}}</h4>
    <div class="request_detail_info">
      <ion-row>
        <ion-col size="5">
          {{'Common.created_by_label' | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
         {{complaint.member_name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          {{'Common.unit_no_head' | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          {{complaint.member_unit}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          {{'Common.status_label' | translate:param}}
        </ion-col>
        <ion-col size="1">
          :
        </ion-col>
        <ion-col size="6">
          <b class="status_pending_label" *ngIf="complaint.status=='0'">{{'Common.pending_label' | translate:param}}</b>
          <b class="status_accept_label" *ngIf="complaint.status=='1'">{{'Common.accepted_label' | translate:param}}</b>
          <b class="status_reject_label" *ngIf="complaint.status=='2'">{{'Common.rejected_label' | translate:param}}</b>
        </ion-col>
      </ion-row>
      <div class="desc_div">
        <h5 class="request_desc">{{'Complaint.complaint_info_label' | translate:param}}</h5>
        <p class="line-height">{{complaint.info}}</p>
        
      </div>
      <ion-row *ngIf="complaint.status==0 && user_type==4">
        <ion-col size="6">
          <ion-button class="visitor_btn" (click)="ChangeComplaintStatus(complaint.id ,1)">{{'Common.accept_label' | translate:param}}</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="visitor_btn" (click)="ChangeComplaintStatus(complaint.id,2)">{{'Common.reject_label' | translate:param}}</ion-button>
        </ion-col>
      </ion-row>
      </div>
  
  </div>
</ion-content>
