<ion-header>   
  <ion-toolbar>
    <ion-buttons slot="start"[class.ar_toggle]="language=='ar'" >
      <ion-menu-button autoHide="false"></ion-menu-button>  
    </ion-buttons>    
    <ion-title class="semiBold size_16" [class.ar_toggle_title]="language=='ar'">{{'Common.dashboard_label' | translate:param}}</ion-title>   
    <ion-icon *ngIf="user_type=='4' || user_type=='5'" name="settings-outline" class="setting_icon" (click)="settingsPopover()"></ion-icon>
    <ion-icon routerLink="/notification-list" name="notifications-outline" class="setting_icon notification_bell"></ion-icon><ion-badge class="badge_class">{{notification_count}}</ion-badge>
    <ion-buttons slot="end" class="lang_butn">      
      <div class="language"  *ngIf="language=='en'" (click) = "changedLanguage('ar')">عربى</div>
      <div class="language"  *ngIf="language=='ar'" (click) = "changedLanguage('en')">English</div>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content class="bg_grey">
<div class="tab" *ngIf="user_type!=6">
  <div [class]="classVariable">
    <ion-img src="assets/images/tab_1.png" ></ion-img>
    <div class="tab_title">{{'Common.dashboard_label' | translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/external-request-list"  *ngIf="service_type_id!=17">
    <ion-img src="assets/images/tab_2.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.external_request_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/item-list" *ngIf="user_type==2 && service_type_id!=17">
    <ion-img src="assets/images/item.png"></ion-img>
    <div class="tab_title">{{'Menu.item_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/agreemets" *ngIf="user_type==2">
    <ion-img src="assets/images/contract.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.agreement_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/service-provider-user" *ngIf="user_type==2">
    <ion-img src="assets/images/users.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.user_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/contracts" *ngIf="(user_type==2 && service_type_id==17) || (user_type==-1 && service_type_id==17) || (user_type==0 && service_type_id==17)">
    <ion-img src="assets/images/agreement.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.contract_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" (click)="sendSOS()" *ngIf="user_type==5">
    <ion-img src="assets/images/sos.png"></ion-img>
    <div class="tab_title" >{{'HOMEPAGE.sos_label'| translate:param}}</div>
  </div>  
  <div [class]="classVariable" routerLink="/maintenance-list" [style]="hide">
    <ion-img src="assets/images/tab_2.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.maintenance_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/complaint" [style]="hide">
    <ion-img src="assets/images/tab_4.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.complaint_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/ads" [style]="hide">
    <ion-img src="assets/images/ads.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.ads_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/phone-book" [style]="hide">
    <ion-img src="assets/images/phone-book.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.phone_book_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/visitor-list" [style]="hide">
    <ion-img src="assets/images/visitor.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.visitor_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/violation-list" [style]="hide">
    <ion-img src="assets/images/violation.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.violation_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/bills" *ngIf="user_type==5">
    <ion-img src="assets/images/bills.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.bills_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/account" *ngIf="user_type==4">
    <ion-img src="assets/images/payment-method.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.payment_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/panic-alerts" *ngIf="user_type==4">
    <ion-img src="assets/images/alert.png"></ion-img>
    <div class="tab_title">{{'Common.panic_alerts_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/event-list" [style]="hide">
    <ion-img src="assets/images/events.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.events_label'| translate:param}}</div>
  </div>
</div> 
<div class="tab" *ngIf="user_type==6">
  <div [class]="classVariable">
    <ion-img src="assets/images/tab_1.png" ></ion-img>
    <div class="tab_title">{{'Common.dashboard_label' | translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/maintenance-list" *ngIf="community_staff_type==0 || community_staff_type==2 || community_staff_type==6">
    <ion-img src="assets/images/tab_2.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.maintenance_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/sos-list" *ngIf="community_staff_type==0 || community_staff_type==2">
    <ion-img src="assets/images/sos.png"></ion-img>
    <div class="tab_title">SOS</div>
  </div>
  <div [class]="classVariable" routerLink="/staffs" *ngIf="community_staff_type==6">
    <ion-img src="assets/images/staff.png"></ion-img>
    <div class="tab_title">{{'Common.staff_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/panic-alerts" *ngIf="community_staff_type==6">
    <ion-img src="assets/images/alert.png"></ion-img>
    <div class="tab_title">{{'Common.panic_alerts_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/visitor-list" *ngIf="community_staff_type==1">
    <ion-img src="assets/images/visitor.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.visitor_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/security-sos" *ngIf="community_staff_type==1">
    <ion-img src="assets/images/sos.png"></ion-img>
    <div class="tab_title">SOS</div>
  </div>
  <div [class]="classVariable" routerLink="/complaint" *ngIf="community_staff_type!=6">
    <ion-img src="assets/images/tab_4.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.complaint_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/ads" *ngIf="community_staff_type!=6">
    <ion-img src="assets/images/ads.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.ads_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/violation-list" *ngIf="community_staff_type!=6">
    <ion-img src="assets/images/violation.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.violation_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/event-list" *ngIf="community_staff_type!=6">
    <ion-img src="assets/images/events.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.events_label'| translate:param}}</div>
  </div>
</div>
<div class="tab" *ngIf="user_type==1">
  <div [class]="classVariable">
    <ion-img src="assets/images/tab_1.png" ></ion-img>
    <div class="tab_title">{{'Common.dashboard_label' | translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/ads" *ngIf="community_staff_type!=6">
    <ion-img src="assets/images/ads.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.ads_label'| translate:param}}</div>
  </div>
  <div [class]="classVariable" routerLink="/event-list" *ngIf="community_staff_type!=6">
    <ion-img src="assets/images/events.png"></ion-img>
    <div class="tab_title">{{'HOMEPAGE.events_label'| translate:param}}</div>
  </div>
</div>
<div class="ion-padding"> 
  <ion-row class="margin-top-90">
    <ion-col size="12">      
      <span class="welcome_msg">{{'Common.welcome_label' | translate:param}}, </span><span class="semiBold green">{{user_name}}</span> 
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" >
      <div class="custome_count_label">
        <span class="semiBold green" *ngIf="(user_type=='5' || user_type=='2' || user_type=='-1') || (user_type=='0' && service_type_id==17) ">{{"HOMEPAGE.financial_stats_label" | translate:param}}</span>
        <span class="semiBold green" *ngIf="(user_type=='0' && service_type_id!=17) || (user_type==6 && community_staff_type!=1)">{{"HOMEPAGE.services_label" | translate:param}}</span>
        <span class="semiBold green" *ngIf="community_staff_type==1">{{"Common.visits_label" | translate:param}}</span>
      </div>
    </ion-col>
  </ion-row>
</div>  
<span *ngIf="user_type!=1">  
<div class="ion-padding">
  <div class="dashboard">
    <div class="counter">
      <div class="counter_inner" *ngIf="user_type=='5'">
        <ion-row>
          <ion-col size="4" (click)="redirectToBill('1')">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><ion-icon name="logo-usd"></ion-icon></div>
                <div class="counter_detail">
                  <div class="counter_number">{{financial_stats.maintenance_credit}}</div>
                  <div class="counter_title">{{'Common.balance_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4" (click)="redirectToBill(0)">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><ion-icon name="logo-usd"></ion-icon></div>
                <div class="counter_detail">
                  <div class="counter_number">{{financial_stats.paid_count}}</div>
                  <div class="counter_title">{{'Common.paid_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4" (click)="redirectToBill('not_zero')">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><ion-icon name="logo-usd"></ion-icon></div>
                <div class="counter_detail">
                  <div class="counter_number">{{financial_stats.pending_request}}</div>
                  <div class="counter_title">{{'Common.pending_label' | translate:param}} {{'Common.request_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row><ion-col size="6"><div class="custome_count_label service_count_div"><span class="semiBold green">{{"HOMEPAGE.services_label" | translate:param}}</span></div></ion-col></ion-row> 
        <ion-row>
          <ion-col size="4" (click)="redirectToBill('1')">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><ion-icon name="logo-usd"></ion-icon></div>
                <div class="counter_detail">
                  <div class="counter_number">{{balance}}</div>
                  <div class="counter_title">{{'Common.balance_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4" (click)="redirectToBill(0)">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><ion-icon name="logo-usd"></ion-icon></div>
                <div class="counter_detail">
                  <div class="counter_number">{{bills.paid_amount}}</div>
                  <div class="counter_title">{{'Common.paid_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4" (click)="redirectToBill('not_zero')">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><ion-icon name="logo-usd"></ion-icon></div>
                <div class="counter_detail">
                  <div class="counter_number">{{bills.unpaid_amount}}</div>
                  <div class="counter_title">{{'Common.pending_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>           
        </ion-row>     
               
      </div> 
      <div class="counter_inner" *ngIf="(user_type=='2' || user_type=='-1') || (user_type=='0' && service_type_id==17 )">
        <ion-row>
          <ion-col size="4">
            <div class="counter_single" routerLink="/service-provider-bill">
              <div class="single_inner">
                <div class="counter_icon"><ion-icon name="logo-usd"></ion-icon></div>
                <div class="counter_detail">
                  <div class="counter_number">{{total_collection}}</div>
                  <div class="counter_title">{{'Common.total_collection_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="counter_single" routerLink="/service-provider-bill">
              <div class="single_inner">
                <div class="counter_icon"><ion-icon name="logo-usd"></ion-icon></div>
                <div class="counter_detail">
                  <div class="counter_number">{{total_community_commision}}</div>
                  <div class="counter_title">{{'Common.community_commission_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="counter_single" routerLink="/service-provider-bill">
              <div class="single_inner">
                <div class="counter_icon"><ion-icon name="logo-usd"></ion-icon></div>
                <div class="counter_detail">
                  <div class="counter_number">{{total_provider_collection}}</div>
                  <div class="counter_title">{{'Common.provider_collection_label' | translate:param}} {{'Common.request_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
               
      </div> 
      <div class="counter_inner" *ngIf="(user_type=='0' && service_type_id!=17) || (user_type==6 && community_staff_type!=1)" >
        <ion-row>
          <ion-col size="4">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><img class="hashtag-icon" src="assets/images/hashtag-symbol.png"></div>
                <div class="counter_detail">
                  <div class="counter_number">{{staff_accept}}</div>
                  <div class="counter_title">{{'Common.accepted_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><img class="hashtag-icon" src="assets/images/hashtag-symbol.png"></div>
                <div class="counter_detail">
                  <div class="counter_number">{{staff_pending}}</div>
                  <div class="counter_title">{{'Common.pending_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><img class="hashtag-icon" src="assets/images/hashtag-symbol.png"></div>
                <div class="counter_detail">
                  <div class="counter_number">{{staff_reject}}</div>
                  <div class="counter_title">{{'Common.rejected_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>           
        </ion-row>     
               
      </div>    
      
      <div class="counter_inner" *ngIf="community_staff_type==1" >
        <ion-row>
          <ion-col size="4">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><img class="hashtag-icon" src="assets/images/hashtag-symbol.png"></div>
                <div class="counter_detail">
                  <div class="counter_number">{{visitor_details.in_visitor}}</div>
                  <div class="counter_title">{{'HOMEPAGE.visitor_label' | translate:param}} {{'Common.in_label' | translate:param}} </div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><img class="hashtag-icon" src="assets/images/hashtag-symbol.png"></div>
                <div class="counter_detail">
                  <div class="counter_number">{{visitor_details.out_visitor}}</div>
                  <div class="counter_title">{{'HOMEPAGE.visitor_label' | translate:param}} {{'Common.out_label' | translate:param}} </div>              
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="counter_single">
              <div class="single_inner">
                <div class="counter_icon"><img class="hashtag-icon" src="assets/images/hashtag-symbol.png"></div>
                <div class="counter_detail">
                  <div class="counter_number">{{visitor_details.pending_visitor}}</div>
                  <div class="counter_title">{{'Common.pending_label' | translate:param}} {{'HOMEPAGE.visitor_label' | translate:param}}</div>              
                </div>
              </div>
            </div>
          </ion-col>           
        </ion-row>     
               
      </div>

    </div>
    <div class="graph" *ngIf="community_staff_type!=1">
      <div class="graph_one">
        <div class="graph_inner">
          <div class="green" style="margin-bottom: 12px;">{{'Common.overall_performance' | translate:param}}</div>
          <h4 class="work-status-graph-label" *ngIf="(user_type=='2'|| user_type=='-1') && service_type_id!=17">{{'Common.staff_work_status_label' | translate:param}}</h4>
          <h4 class="work-status-graph-label" *ngIf="user_type=='0' && service_type_id!=17">{{'Common.my_work_label' | translate:param}}</h4>
          <google-chart *ngIf="graph_points!='' && service_type_id!=17 " [data]="pieChartData"></google-chart>  
          <div *ngIf="(user_type=='2' || user_type=='0' || user_type=='-1') && service_type_id!=17">
            <h4 class="work-status-graph-label">{{'Common.work_progress_label' | translate:param}}</h4>
            <google-chart *ngIf="graph_points!=''" [data]="pieChartData1"></google-chart>
          </div> 
          <div *ngIf="(user_type=='2' || user_type=='0' || user_type=='-1') && service_type_id==17">
            <h4 class="work-status-graph-label">{{'Common.contract_status_label' | translate:param}}</h4>
            <google-chart *ngIf="graph_points!=''" [data]="pieChartData2"></google-chart>
          </div>            
        </div>
      </div>
    </div>
    <div class="graph" *ngIf="community_staff_type==1">
      <div class="graph_one">
        <div class="graph_inner">
          <div>
            <h4 class="work-status-graph-label">{{'HOMEPAGE.visitor_label' | translate:param}} {{'Common.status_label' | translate:param}}</h4>
            <google-chart *ngIf="visitor_details!=''" [data]="pieChartData4"></google-chart>
          </div>            
        </div>
      </div>
    </div>
  </div>
</div>
</span> 
</ion-content>
