<ion-header>
  <ion-toolbar>
    <ion-title class="semiBold size_16" >{{'Common.add_label' | translate:param}} {{'Common.token_label' | translate:param}}</ion-title>
    <ion-icon name="close-circle-outline" [class.ar_modal_icon]="language=='ar'" class="setting_icon" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form name="form" (ngSubmit)="f.form.valid && tokenForm(f)" #f="ngForm" method="post">    
    <ion-item class="margin-top-20">
      <ion-label position="floating">{{'Common.token_label' | translate:param}} </ion-label>
      <ion-input name="token" [(ngModel)]="token" #tok="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tok.invalid }"  required></ion-input>
    </ion-item>
    <div *ngIf="f.submitted && tok.invalid" class="invalid-feedback">
      <div *ngIf="tok.errors.required">{{'VALIDATION.token_required' | translate:params}}</div>
    </div>
    <div class="">
      <ion-row>
        <ion-col size="6">
          <ion-button class="submit_btn_css mt30" type="submit"  >{{'Common.submit_label' | translate:param}}</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="submit_btn_css mt30" type="button" (click)="closeModal()" >{{'Common.cancel_label' | translate:param}}</ion-button>
        </ion-col>
      </ion-row>
    
    
  </div>
  </form>
</ion-content>